.analysis-container {
    padding-top: 120px;
    /* Fix overlap issues */
    padding-bottom: 80px;
    position: relative;
    z-index: 10;
}

#chartContainer {
    width: 60%;
    margin: 20px auto;
    position: relative;
}